html {
	position: relative;
}

body {
	/*margin-bottom: 120px;*/
	/*margin-top: 50px;*/
}

.navbar-inverse {
    border-color: #CC4646;
    background-color: transparent;
    height: 70px;
}

.container-fluid {
	/*background-color: red;*/
	padding-top: 10px;
}

.navbar-brand {
	font-size: 2.5em;
	font-family: 'arial';
	font-weight: 900;
	/*color: black;*/
}

.navbar-inverse .collapse ul.navbar-nav>li>a {
	font-size: 1.5em;
	color: red;
	font-weight: bold;
	/*background-color: green;*/
}

.navbar-inverse .navbar-header a {
	color: blue;
	font-weight: bold;
	font-size: 3em;
}

.jumbotron {
	background-image: url('../img/bg-jumbotron.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: 70px -220px;
	color: #eaeaea;
	overflow: hidden;
	height: 650px;
}

.jMove {
	display: flex;
	position: relative;
	top: 0; right: 0;
}

.jSlied {
	width: 100%;
	flex-shrink: 0;
	box-sizing: border-box;
	padding: 10px;
}

@keyframes slideh {
  /* (D0) THE IDEA - USE KEYFRAMES TO SHIFT SLIDES *
  0% { right: 0; }
  33% { right: 100%; }
  66% { right: 200%; }
  100% { right: 0; }
 
  /* (D1) BUT THE ABOVE WILL SHIFT NON-STOP */
  /* SO WE ADD PAUSES BETWEEN EACH SLIDE */
  0% { right: 0; }
  30% { right: 0; }
  33% { right: 10%; }
  63% { right: 10%; }
  66% { right: 20%; }
  97% { right: 20%; }
  100% { right: 0; }
}

.jMove {
	animation: slideh linear 9s infinite;
}

section {
	min-height: 600px;
}